@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Fira Sans', sans-serif;
    background-color: #e5e7eb;
    scroll-behavior: smooth;
    transition: all .3s linear;
}

.scroll::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.scroll::-webkit-scrollbar-track {
    background: #f6f6f6;
}

.scroll::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 5rem;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.active {
    position: relative;
    font-weight: 600;
    color: black;
}

.active::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #3b82f6;
    border-radius: 50%;
    top: -4px;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translateX(-50%);
}

.loading {
    border: 6px solid #f6f7f9;
    border-top-color: #3b82f6;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    animation: spin .6s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    border-radius: 12px;
    width: 30px;
    height: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    transition: .4s;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
}

.z-9999 {
    z-index: 9999 !important;
}

.border-red {
    border: 1px solid red !important;
}

.modal-animation {
    animation: modalAnimation .2s ease-in-out;
}

@keyframes modalAnimation {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.border-blue-hover:hover {
    border: 1px solid blue !important;
}

@layer components {
    .category-page {
        @apply px-4 mt-20 lg:px-8 xl:px-0 xl:mx-[10%] 2xl:mx-[16%]
    }

    .add-btn {
        @apply ml-[82%] mb-1 p-2 rounded-xl bg-transparent hover:bg-blue-500 hover:text-white transition-all duration-500
    }

    .wrap-product {
        @apply flex flex-wrap gap-2 xl:justify-start px-2
    }

    .item-product {
        @apply w-[48%] sm:w-[49%] md:w-[32%] lg:w-[24%] h-[22rem] bg-white rounded-2xl p-3
    }

    .img-product {
        @apply mt-3 h-[8rem] xl:h-[8.5rem] flex justify-center items-center
    }
}